<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-12 mx-auto mt-5">
      <div class="card">
        <div class="card-header bg-primary">
          <h2 class="text-center text-white">Angular Reactive Forms Sample</h2>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="!isUpdateFormActive">
            <form [formGroup]="addForm">
              <div class="form-group m-2">
                <label for="">Adınız</label>
                <input type="text" formControlName="firstName" placeholder="Adınız" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">Soyadınız</label>
                <input type="text" formControlName="lastName" placeholder="Soyadınız" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">İş Giriş Tarih</label>
                <input type="date" formControlName="startingDate" placeholder="İşe Giriş Tarihi" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">Ünvan</label>
                <select title="Unvanınız" formControlName="title" class="form-control">
                  <option>Backend Developer</option>
                  <option>Frontend Developer</option>
                </select>
              </div>
              <div class="form-group m-2">
                <button [disabled]="!addForm.valid" (click)="save()"
                  class="btn btn-success float-end w-50 m-2">Kaydet</button>
              </div>
            </form>
          </div>
          <div class="row" *ngIf="isUpdateFormActive">
            <form [formGroup]="updateForm">
              <div class="form-group m-2">
                <label for="">Adınız</label>
                <input type="text" formControlName="firstName" placeholder="Adınız" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">Soyadınız</label>
                <input type="text" formControlName="lastName" placeholder="Soyadınız" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">İş Giriş Tarih</label>
                <input type="date" formControlName="startingDate" placeholder="İşe Giriş Tarihi" class="form-control">
              </div>
              <div class="form-group m-2">
                <label for="">Ünvan</label>
                <select title="Unvanınız" formControlName="title" class="form-control">
                  <option>Backend Developer</option>
                  <option>Frontend Developer</option>
                </select>
              </div>
              <div class="form-group m-2">
                <button [disabled]="!updateForm.valid" (click)="update()"
                  class="btn btn-warning float-end w-25 m-1">Güncelle</button>
                <button (click)="cancel()" class="btn btn-danger float-end w-25 m-1">Vazgeç</button>
              </div>
            </form>
          </div>
          <div class=" row">
            <div class="table-responsive mt-5">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sıra No</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>İşe Giriş Tarihi</th>
                    <th>Ünvanı</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of employees; track $index ) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.startingDate | date:"dd-MM-yyyy"}}</td>
                    <td>{{item.title}}</td>
                    <td><a class="btn btn-warning btn-sm" (click)="get(item,$index)">Güncelle</a><a
                        class="btn btn-danger btn-sm" (click)="delete($index)">Sil</a>
                    </td>
                  </tr>
                  }@empty {
                  <tr>
                    <td colspan="6" class="text-center text-danger">Herhangi bir kayıt bulunmamaktadır.</td>
                  </tr>
                  }

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>